%ul.nav
  %li
    = link_to "Tranquillity", root_path
  %li
    |
  %li
    =link_to 'All Poems', poems_path
  - if user_signed_in?
    %li
      |
    %li
      =link_to 'My Poems', my_poems_poems_path
%ul.nav.right
  - if user_signed_in?
    %li
      Logged in as #{current_user.name}
    %li
      |
    %li
      = link_to 'Edit account', edit_user_registration_path
    %li
      |
    %li
      = link_to 'Logout', destroy_user_session_path, :method=>'delete'
  - else
    %li
      = link_to 'Login', new_user_session_path
    %li
      |
    %li
      = link_to 'Sign up', new_user_registration_path